<?xml version="1.0"?>
<data>
	<ip>192.168.0.100</ip>
	<port>18944</port>
	<output_dir>./data/Trial1/</output_dir>
	<prefix>insertion</prefix>
	<calibration_file>calibration.npz</calibration_file>

	<index_camera_top>1</index_camera_top>
	<index_camera_side>2</index_camera_side>
	<index_camera_aux>3</index_camera_aux>

	<hue_motion>110</hue_motion>
	<hue_motion_range>20</hue_motion_range>

	<hue_target_min>40</hue_target_min>
	<hue_target_max>60</hue_target_max>
	<sat_target_min>100</sat_target_min>
	<sat_target_max>255</sat_target_max>
	<val_target_min>100</val_target_min>
	<val_target_max>200</val_target_max>

	<camera_top_focus_absolute>30</camera_top_focus_absolute>
	<camera_top_contrast>200</camera_top_contrast>
	<camera_top_brightness>180</camera_top_brightness>

	<camera_side_focus_absolute>60</camera_side_focus_absolute>
	<camera_side_contrast>200</camera_side_contrast>
	<camera_side_brightness>180</camera_side_brightness>

	<roi_width>200</roi_width>
	<roi_height>300</roi_height>

	<kernel_top>5</kernel_top>
	<kernel_side>5</kernel_side>

	<threshold_mag>3</threshold_mag>

	<dof_top>
		<pyr_scale>0.5</pyr_scale>
		<levels>4</levels>
		<winsize>10</winsize>
		<iterations>5</iterations>
		<poly_n>5</poly_n>
		<poly_sigma>1.2</poly_sigma>
	</dof_top>
	<dof_side>
		<pyr_scale>0.5</pyr_scale>
		<levels>4</levels>
		<winsize>10</winsize>
		<iterations>5</iterations>
		<poly_n>5</poly_n>
		<poly_sigma>1.2</poly_sigma>
	</dof_side>

	<index_refraction_phantom>1.5</index_refraction_phantom>
	<index_refraction_ambient>1.0</index_refraction_ambient>
</data>
